<html ng-app="paginaPrincipal">
<head>
    <meta charset="utf-8" />
    <title>Lista Clientes</title>
    <link rel="stylesheet" type="text/css" href="bootstrap.css">
    <script src="angular.js"></script>
    <script src="jquery.js"></script>
    <script src="bootstrap.js"></script>
        <script>
            angular.module("paginaPrincipal", []);
            angular.module("paginaPrincipal").controller("vendaCtrl", function ($scope, $http){
                $scope.clientes = [];
                $scope.clientepAtualizar = [];
            
                var check_cpf = function( string ) {
	                var novoCPF = string.replace(/[\.-]/g, "");
	                return novoCPF;
                };

                $scope.validaCPF = function(cpf) {
                    var Soma;
                    var Resto;
                    var strCPF = check_cpf(cpf);
                    Soma = 0;
                    if (strCPF == "00000000000") return false;
                    
                    for (i=1; i<=9; i++) Soma = Soma + parseInt(strCPF.substring(i-1, i)) * (11 - i);
                    Resto = (Soma * 10) % 11;
                    
                    if ((Resto == 10) || (Resto == 11))  Resto = 0;
                    if (Resto != parseInt(strCPF.substring(9, 10)) ) return false;
                    
                    Soma = 0;
                    for (i = 1; i <= 10; i++) Soma = Soma + parseInt(strCPF.substring(i-1, i)) * (12 - i);
                    Resto = (Soma * 10) % 11;
                    
                    if ((Resto == 10) || (Resto == 11))  Resto = 0;
                    if (Resto != parseInt(strCPF.substring(10, 11) ) ) return false;
                    return true;
                };


                var listarClientes = function() {
                    $http.get('http://localhost:8000/api/clientes').then(function (d) {
                        $scope.clientes = d.data;
                    })
                };

                $scope.deletarCliente = function(id) {
                    $http.delete('http://localhost:8000/api/clientes/' + id).then(function (d) {
                        alert("Deletado com sucesso");
                        listarClientes();
                    })
                };

                $scope.buscarporId = function(id) {
                    $http.get('http://localhost:8000/api/clientes/' + id).then (function (d) {
                        $scope.clientepAtualizar = d.data;
                    })
                };

                $scope.atualizarCliente = function(clientepAtualizar) {
                    $http.put('http://localhost:8000/api/clientes/' + clientepAtualizar._id, clientepAtualizar).then (function (d) {
                        $scope.atualizarForm.$serPristine();
                        listarClientes();
                    })
                };

                listarClientes();
            });
        </script>
</head>
<body ng-controller="vendaCtrl" class="background">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">BRW Vendedora</a>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="cadastrocliente.html">Cadastrar Cliente</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="listacliente.html">Listar Clientes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="cadastrovenda.html">Cadastrar Venda</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="listavendas.html">Listar Vendas</a>
                </li>
            </ul>
        </div>
    </nav>
    <style>
        .background{
            background-image: url("plano-pa.jpg");
        }
        .jumbotron{
            width: 90%;
            margin-left: auto;
            margin-right: auto;
            margin-top: 30px;
            background-color: silver;
        }
        .table-bordered{
            width: 90%;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
    <div class="jumbotron"><h4 class="display-3 text-center">Lista de Clientes</h4></div>
    <table class="table table-bordered">
        <thead style="background-color: gray;">
            <tr>
                <th style="width: 250px">Nome</th>
                <th style="width: 250px">Sobrenome</th>
                <th style="width: 10px">Idade</th>
                <th style="width: 150px">CPF</th>
                <th style="width: 150px">RG</th>
                <th style="width: 150px">Sexo</th>
                <th style="width: 200px">Status</th>
            </tr>
        </thead>
        <tbody style="background-color: silver;">
            <tr ng-repeat="cli in clientes">
                <td ng-bind="cli.nome"></td>
                <td ng-bind="cli.sobrenome"></td>
                <td ng-bind="cli.idade"></td>
                <td ng-bind="cli.cpf"></td>
                <td ng-bind="cli.rg"></td>
                <td ng-bind="cli.sexo"></td>
                <td >
                    <button type="button" data-toggle="modal" data-target="#atualizarcliente" class="btn btn-warning btn-sm" ng-click="buscarporId(cli._id)">Editar</button>
                    <button type="button" class="btn btn-danger btn-sm"ng-click="deletarCliente(cli._id)">Deletar</button>
                </td>
            </tr>
        </tbody>
    </table>
    <div id="atualizarcliente" class="modal fade show" role="dialog" aria-hidden="true" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h3 class="modal-title" id="exampleModalLabel">Atualizar Funcionario</h3>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" name="atualizarForm">
                        <div class="form-group">
                            <input class="form-control" readonly="readonly" name="funcionarioId" ng-model="clientepAtualizar._id" type="hidden" placeholder="Id" ng-required="true" />
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" name="nome" ng-model="clientepAtualizar.nome" placeholder="Nome" ng-required="true" />
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" name="sobrenome" ng-model="clientepAtualizar.sobrenome" placeholder="Sobrenome" ng-required="true" />
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" name="idade" ng-model="clientepAtualizar.idade" placeholder="Idade" ng-required="true" />
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="" name="cpf" ng-model="clientepAtualizar.cpf" placeholder="CPF" ng-required="true" />
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" name="rg" ng-model="clientepAtualizar.rg" placeholder="RG" ng-required="true" />
                        </div>
                        <div class="form-group">
                            <select class="form-control" name="sexo" ng-value="clientepAtualizar.sexo" ng-model="clientepAtualizar.sexo" ng-required="true">
                                <option value="Feminino">Feminino</option> 
                                <option value="Masculino">Masculino</option> 
                            </select>
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" name="empresa" ng-model="clientepAtualizar.empresa" placeholder="Empresa" ng-required="true" />
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" name="cargo" ng-model="clientepAtualizar.cargo" placeholder="Cargo" ng-required="true" />
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" name="renda" ng-model="clientepAtualizar.renda" placeholder="R$ 00000.00" ng-required="true" />
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" name="rua" ng-model="clientepAtualizar.rua" placeholder="Departamento" ng-required="true" />
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" name="bairro" ng-model="clientepAtualizar.bairro" placeholder="Cargo" ng-required="true" />
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" name="complemento" ng-model="clientepAtualizar.complemento" placeholder="Nome" ng-required="true" />
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" name="numero" ng-model="clientepAtualizar.numero" placeholder="Email" ng-required="true" />
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" name="cidade" ng-model="clientepAtualizar.cidade" placeholder="Cidade" ng-required="true" />
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" name="estado" ng-model="clientepAtualizar.estado" placeholder="Estado" ng-required="true" />
                        </div>
                        <div ng-if="validaCPF(clientepAtualizar.cpf) === true" class="alert alert-success alert-block">
                            Cpf Valido
                        </div>
                        <div ng-if="validaCPF(clientepAtualizar.cpf) === false" class="alert alert-danger alert-block">
                            Cpf Invalido
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-block" id="btnAtualizar" ng-click="atualizarCliente(clientepAtualizar)" ng-disabled="atualizarForm.$invalid || validaCPF(clientepAtualizar.cpf) === false" data-dismiss="modal">Atualizar</button>
                    <button type="button" class="btn btn-default btn-block" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>